
/*.container {
    margin-left: auto;
    margin-right: auto;
    width: 1195px;
    height: 400px;
    background-color: #84A178;
}*/

.container-slider {
    position: relative;
}

@media screen and (min-width: 480px) {
    .container-slider {
        width: 320px;
        height: 1110px;
        margin-left: auto;
        margin-right: auto;
        
    }
}

@media screen and (max-width: 767px) {
    .container-slider {
        background-image: url(../images/Backgroud_mobile.jpg);
    }
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px ),
screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (max-width: 767px) {
    .container-slider {
        background-image: url(../images/Backgroud_mobile@2x.jpg);
    }
}

@media screen and (min-width: 768px) {
    .container-slider {
        width: 768px;
        height: 1017px;
        
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .container-slider {
        background-image: url(../images/Background_tablet.jpg);
    }
    

}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
    .container-slider {
        background-image: url(../images/Background_tablet@2x.jpg);
    }
}

@media screen and (min-width: 1200px) {
    .container-slider {
        width: 1195px;
        height: 1053px;
        padding-bottom: 228px;
        background-image: url(../images/Backgroud_desktop.jpg);
    }

}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
    .container-slider {
        background-image: url(../images/Backgroud_desktop@2x.jpg);
    }
}



html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}



.swiper {
    position: absolute;
    left: 42%;
    transform: translate(-50%, -20%);
    max-width: 1013px;
    max-height: 433px;
    border: transparent;
}

.swiper-slide {
    
    background-position: center;
    background-size: cover;
}

.swiper-slide img {
    display: block;
    width: 100%;
    
}

.swiper-button-next::after,
.swiper-button-prev::after {
    color: transparent;
}

@media screen and (min-width: 480px) {
    .swiper {
        max-width: 440px;
        max-height: 204px;
    }

    .swiper-slide img {
        border-radius: 8px;
    }
    
}

@media screen and (min-width: 768px) and (max-width: 1194px) {
    .swiper {
        max-width: 704px;
        max-height: 327px;
    }

    .swiper-slide img {
        border-radius: 18px;
    }
}

@media screen and (min-width: 1200px) {
    .swiper {
        max-width: 1013px;
        max-height: 433px;
    }

    .swiper-slide img {
        border-radius: 24px;
    }
}

/* SLIDER */

@media screen and (min-width: 480px) {
    .slider {
        margin-bottom: 80px;
        max-width: 280px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1194px) {
    .slider {
        margin-bottom: 100px;
        max-width: 705px;
    }
}

@media screen and (min-width: 1200px) {
    .slider {
        margin-top: 140px;
        max-width: 968px;

    }
}

.slider {
    background-color: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

.slider-img {
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
}

.slider-img img {
    width: 85px;
    border-radius: 50%;
}

.swiper-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.86;
    letter-spacing: 0.04em;
    max-width: 968px;
    background-color: #84A178;
    border-radius: 24px;
    padding: 43px 109px;
    color: #FCFCFC;
    text-align: center;
    margin-bottom: 32px;
}

.slider-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.86;
    text-align: center;
    color: #131313;
    margin-bottom: 32px;
    background-color: #FCFCFC;
}


.mySwiper .swiper-pagination-bullet {
   
    width:10px;
    height: 10px;
    line-height: 20px;
    font-size: 14px;
    background-color: #84A178;
}



